[submodule "backend"]
	path = backend
	url = ssh://git@git.schmidigital.de:7999/schmid/angular2-sails-boilerplate-backend
[submodule "frontend"]
	path = frontend
	url = ssh://git@git.schmidigital.de:7999/schmid/angular2-sails-boilerplate-frontend
